{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Aplicación Django</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores natus voluptatibus odit omnis laudantium, veniam optio consequuntur ea totam consectetur provident debitis praesentium! Quia numquam eveniet repudiandae hic ex quod velit? Voluptates, sequi? Distinctio eligendi optio enim provident omnis vitae ipsum voluptatibus fugit magni, accusamus deleniti, a repellat quisquam, aliquid ex? Facilis ab rem expedita fugit ullam illo alias nemo! Assumenda minima dolores magnam consequatur eveniet dolor ad praesentium repellendus minus, enim atque, recusandae architecto similique rem amet ex. Dolorum architecto aut odio reprehenderit voluptatem est velit mollitia voluptate, recusandae voluptas sint officiis ipsum sit consequatur quaerat tenetur maxime autem?
            </p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Iniciar sesión
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Registrarse
                </a>
            </div>
        </section>
    </main>

{% endblock %}